.color2{
    color: black
}



.cont {
display: flex;
}
.cont2 {
display: flex;
text-align: center;
}
 
.title{
   font-size: 2em;
}


table th{
    text-align: center;
    font-size: 2em
    

}

.marca{
    font-weight: bold;
    /* text-align: right; */
}

.marg{
    margin-top:20px;
}

.desl{
    margin-top:25px;
    
}
.desl2{
    padding: 10px;
}


.icon-display{
    color: #242424;
    font-size: 3em;
}

/* .fontz{
    font-size: 3em;

} */

#posi{
    margin:0px;
}

.icon-chevron-right{
    font-size: 1.5em;
}


@media only screen and (max-device-width: 900px) {
    h3{
        font-size: 1.7em;
   
    }
   
    .col.s12 > .btn{
       width: 100%;
    }
   
     
   }

   .col.l4 > .btn{
    width: 100%;
 }