<div class="marg animated fadeIn" *ngIf="ocultar">

  <div class="row">
    <div class="container cont animated fadeIn">

      <!-- <button  routerLink="/adopcion" class="btn waves-effect waves-light blue">
    <i class="material-icons">keyboard_backspace</i>
  </button> -->

      <!-- <a routerLink="/adopcion" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">keyboard_backspace</i></a> -->
      <a routerLink="/adopcion">Adopta</a> &nbsp;/&nbsp;  <a class="color2">Descripcion</a>
    </div>
  </div>

  <div class="row ">
    <div class="container  ">
      <div class="col s12 m7 l7 color">
        <table>
          <thead >
            <tr >
              <th>{{nombre}} </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of tabla">
              <td class="marca">{{t.title}} </td>
              <td>{{t.info}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col s12 m5 l5 color desl ">
        <!-- <img class="materialboxed" src="{{data.url}}" width="100px">
          <br>
            <img class="materialboxed" src="{{data.url}}" width="100px">
            <br>
             <img class="materialboxed" src="{{data.url}}" width="100px"> -->

        <img class="materialboxed circle col s12" src="{{img}}"  materialize="materialbox">
      </div>

    </div>


  </div>

  <div class="row animated fadeIn" >
    <div class="container color ">
      
      
        <span class="icon-display"> </span> <span class="fontz">Mis Videos</span>
 
    
    

      <!-- <div class="carousel carousel-slider" data-indicators="true">
     

        <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/2" ></a>
        <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/3"></a>
        <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/4"></a>
        <a class="carousel-item"><img src="{{img}}" ></a>
      </div> -->

       <div class="video-container">
        <iframe  src="//www.youtube.com/embed/Pv9cf4BfkaI" frameborder="0" allowfullscreen></iframe>
      
      </div>


    </div>

  </div>

  <div class="row ">
    <div class="col s12  l4 push-l5">
      <a class="btn  waves-effect waves-light blue" (click)="ruta()" >ADOPTAME </a>
    </div>
  </div>

</div>


 <!-- Modal Structure
 <div id="modal1" class="modal">
  <div class="modal-content">
    <h4>ADOPCION</h4>
    <br>
    <div class="row">
      <div class="input-field col s12 m6 l6">
        <input id="nombre" type="text" class="validate">
        <label for="nombre">Nombre</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <input id="apellido" type="text" class="validate">
        <label for="apellido">Apellido</label>
      </div>

    </div>
    
    <div class="row">

        <div class="input-field col s12 m6 l6">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        
    </div>


  </div>
  <div class="modal-footer">
    <button  class="btn modal-action modal-close waves-effect waves-light red">Cancelar</button>
    <button  class="btn modal-action modal-close waves-effect waves-light teal">Enviar</button>
  </div>
</div> -->