<div class="marg animated fadeIn" >

  <div class="row">
    <div class="container cont animated fadeIn">

     
     
      <a routerLink="/adopcion">ADOPTAR</a><div id="posi"><span class="icon-chevron-right"></span></div>  <a class="color2">DESCRIPCION</a>
    </div>
  </div>

  <div class="row ">
    <div class="container  ">
      <div class="col s12 m7 l7 color">
        <table>
          <thead >
            <tr >
              
              <th colspan="3" >{{nombre}}</th> 
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of tabla">
              <td class="marca">{{t.title}} </td>
              <td>{{t.info}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col s12 m5 l5  desl ">
        <!-- <img class="materialboxed" src="{{data.url}}" width="100px">
          <br>
            <img class="materialboxed" src="{{data.url}}" width="100px">
            <br>
             <img class="materialboxed" src="{{data.url}}" width="100px"> -->

        <img class="z-depth-1  col s12 desl2" src="{{img}}" >
      </div>

    </div>


  </div>

  <div class=" container divider"></div>
  <br>
  <div class="row animated fadeIn" >
    <div class="container color ">
      
      
        <!-- <span class="icon-display"> </span> -->
 
    
    

      <!-- <div class="carousel carousel-slider" data-indicators="true">
     

        <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/2" ></a>
        <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/3"></a>
        <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/4"></a>
        <a class="carousel-item"><img src="{{img}}" ></a>
      </div> -->

       <div class="video-container">
        <iframe  src="//www.youtube.com/embed/Pv9cf4BfkaI" frameborder="0" allowfullscreen></iframe>
      
      </div>


    </div>

  </div>

  <div class="row ">
    <div class="col s12 m4 push-m4 l4 push-l4">
      <a class="btn  waves-effect waves-light blue" (click)="ruta()" >ADOPTAME </a>
    </div>
  </div>

</div>

