.alineado{
    text-align: center;
}
 /* .modal { width: 75% !important ; height: 75% !important ; }   */


 .icon-paw{
    font-size: 2em;
    color:#FDFBFB;
   
}

.ali{
    margin-top: 8px;
    margin-left: 1px;
}