<div class="animated fadeIn">

  <div class="row alineado teal-text">
    <div class="col s12 l8 push-l2">
      <h3>FORMULARIO</h3>
    </div>

  </div>


  <div class="container">
    <form>
      <div class="row">

        <div class="input-field col s6 l4 push-l2">
          <input id="nombre" type="text" class="validate form-control">
          <label for="nombre">Nombre</label>
        </div>

        <div class="input-field col s6 l4 push-l2 ">
          <input id="apellidos" type="text" class="validate">
          <label for="apellidos">Apellidos</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l8 push-l2">
          <input id="email" type="email" class="validate">
          <label for="email" data-error="Error" data-success="Correcto">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 l4 push-l2">

          <input id="telefono" type="text" class="validate">
          <label for="telefono">Telefono</label>
        </div>
        <div class="input-field col s6 l4 push-l2">

          <input id="dni" type="text" class="validate">
          <label for="dni">DNI</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l8 push-l2">

          <input id="dni" type="text" class="validate">
          <label for="dni">Direccion</label>
        </div>


        <div class="col s12 l8 push-l2">

          <button routerLink="/" type="submit" class="btn  waves-effect waves-light blue" onclick="Materialize.toast('Tu solicitud  fue enviada', 5000)"
            (click)="enviar()" >Enviar</button>
        </div>




      </div>
    </form>





  </div>
  <br><br>
</div>