.pad{
    margin-left: 15px;
    
}


.icon-pets{
    font-size: 3em;
}

.borde{
    margin-bottom: 2em;
}


 .body {
    display: flex;
    min-height:82vh;
    flex-direction: column;
    
    /* margin-top: 110px; */
  }

  main {
    flex: 1 0 auto;
  }
      
  .route-container {
    position:relative;
}
.route-container>* {
    display:block;
}

#formt{
    color: white;

    text-align: left;

}



.navbar-fixed-2 {
    
    z-index: 999;
     position: fixed; 
    width: 100%;
    top: 0;
    
}


.sobre{
    position: relative;
    z-index: 999;
}

/* mover el menu */
.icon-facebook2{
  font-size: 2em;
  color: white;
}

.icon-twitter{
    font-size: 2em;
    color: white;
  }

  .icon-youtube2{
    font-size: 2em;
    color: white;
  }

#sob:hover{
    color: black;
}
/* .cont{
    margin-left:40px;
    margin-right: 100px;
} */

.icon-menu2{
    color: white;
    font-size: 30px;
}
.ubi{
    margin-top: 8px;
}


.icon-keyboard_backspace{
    color: white;
    font-size: 30px;
}

.icon-users,.icon-paw,.icon-gift,.icon-home{
    font-size: 1.4em;
  color:black;
}

.icon-home,.icon-paw,.icon-users, .icon-gift{
    color :#616161;
}

@media only screen and (max-device-width: 900px) {

    .pad{
        font-size:1.5em;
    }
    .alinea{
        text-align: center;
    }
    /* .cont{
        margin-left:auto;
        margin-right: auto;
    } */
  
  
}

.camb{
   padding: 2px;
  
}

.pw{
color:white;
}