<!-- 
<div class="sobre">
  <nav class="nav-extended   teal  ">
    <div class="container">

    <div class="nav-wrapper ">
      <a routerLink='' class="brand-logo  pad ">PET SHELTER </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse" materialize="sideNav" [materializeParams]="[{menuWidth: 300,edge: 'left', closeOnClick: true, draggable: true}]"><i class="material-icons">menu</i></a>
   
      <ul class="side-nav  mov" id="mobile-demo">
        <li id="formt" class="teal"><b>MENU</b></li>
        <li routerLinkActive="active {{color}}"  *ngFor="let r of rutas"><a routerLink="{{r.ruta}}" > <i class="material-icons ">{{r.icon}}</i>{{r.nombre}} </a></li>
      </ul>
   
    </div>
    <div class="nav-content  ">
      <ul class="tabs tabs-transparent  hide-on-med-and-down "  >
        <li class="tab " *ngFor="let r of rutas"><a routerLink="{{r.ruta}}" routerLinkActive="active" (click)="up2()">{{r.nombre}} </a></li>
       
      </ul>
      
    </div>


  </div>
  </nav>
</div> -->

<div class="sobre   navbar-fixed ">
    <nav class="teal lighten-2">
        <div class="nav-wrapper cont">
          <a  (click)="up()" routerLink='' class="brand-logo  pad "><div class="camb"><span class="icon-paw pw"></span> ADOPTALOS</div></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse" materialize="sideNav" [materializeParams]="[{menuWidth: 300,edge: 'left', closeOnClick: true, draggable: true}]"><div class="ubi"><span class="icon-menu2"></span></div></a>
          
             <ul class="side-nav  mov" id="mobile-demo">
               <li id="formt" class="teal"><a class="icon-keyboard_backspace"></a> </li>
               <li (click)="up()" routerLinkActive="active {{color}}"  *ngFor="let r of rutas"><a routerLink="{{r.ruta}}" >
            
                    <span class="{{r.icon}}"></span>
                  &nbsp;&nbsp;&nbsp;&nbsp;{{r.nombre}} </a></li>
             </ul>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
          
              <li (click)="up()" routerLinkActive="active"  *ngFor="let r of rutas"><a routerLink="{{r.ruta}}" > {{r.nombre}} </a></li>
              
          </ul>
        </div>
      </nav>
</div>



<div class="body">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer teal darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 alinea">
        <span class="icon-pets"></span> Pet Shelter
   
      
      </div>


      <div class="col l4 offset-l2 s12 alinea">
      <br>
      <a href="#" ><span  id="sob" class="icon-facebook2"></span> </a> &nbsp;&nbsp;
      <!-- <a href="#" ><span id="sob" class="icon-twitter"></span> </a> &nbsp;&nbsp; -->
      <a href="#" ><span id="sob" class="icon-youtube2"></span></a> &nbsp;

       </div>
      
    </div>
  </div>

  

  <div class="footer-copyright">
    <div class="container">
      © 2017 All Right Reserved.
      <a class="grey-text text-lighten-4 right" href="https://github.com/EduCordova/" target="_blank">Developed by Edu C.  </a>
    </div>
  </div>
</footer>