<div class="animated fadeIn">

  <div class="row">
    <div class="container ">

      <h3 class="alineado teal-text">PET SHELTER</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
        more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>

  </div>

  <div class="divider container"></div>





  <div class="row">
    <div class="container ">

      <h3 class="alineado teal-text">CONFORMADO POR</h3>

      <div class="row">
        <div class="col s12 m6 l6" *ngFor="let a of staff">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/e6jGwk/albg.jpg">
              <!-- <span class="card-title">{{a.nombre}}</span> -->
            </div>
            <div class="card-content">
              <h5>{{a.nombre}}</h5>
            </div>
            <div class="card-action">
              <a href="#">Siguelo en Facebook</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>