/* body{
    background: #DDDFDE;
    background:-webkit-linear-gradient(left, #F3F3F3,#DDDFDE);
    background: -moz-linear-gradient(left, #F3F3F3,#DDDFDE);
    background: -o-linear-gradient(left, #F3F3F3,#DDDFDE);
    background: linear-gradient(to right, #F3F3F3,#DDDFDE);
} */

 body{
  background: #FAFCFE;

 }

