<div class="animated fadeIn">

   <div class="parallax">
    <h1 id="header" class="letra somb">{{title1}}</h1>
  </div>

  <br><br>
  <div class="row">
    <div class="container alineado">

      <div class="col s12 m4 l4 ">
        <span class="icon-verified_user"></span>
        <h5 class="letra"><b>SEGURIDAD</b></h5>
        <p class="alineado2">
          is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and scrambled
        </p>
      </div>

       <div class="col s12 m4 l4">
        <span class="icon-paw "></span>
        <h5 class="letra"><b>ANIMALES</b></h5>
        <p class="alineado2">
          is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and scrambled
        </p>
      </div>
      
      <div class="col s12 m4  l4">
        <span class="icon-aid-kit"></span>
        <h5 class="letra"><b>AYUDA</b></h5>
        <p class="alineado2">
          is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
         
        </p>
      </div>


    </div>

  </div>
 

  
  <div class=" container divider"></div>

  <div class="row">
    <div class="container alineado">
      <h2 class="letra"> MAS DE 100 </h2>
      <h5> MASCOTAS ESPERAN ENCONTRAR UN HOGAR </h5>
      <br>
      <a routerLink="/adopcion" (click)="up()" class="btn   waves-light  waves-effect red ">ENCUENTRA LA TUYA</a>

    </div>
  </div>
  <br>


 

    <div class="parallax2">

      <div id="header2">
        <h1 class="letra somb">NUESTRO TEAM</h1>


        <a routerLink="/nosotros" (click)="up()" class="btn  waves-light  waves-effect  blue  ">CONOCENOS</a>
      </div>


    </div> 

 






</div>
